//! **************************************************************************
// Written by: Map I.34 on Sat Apr 02 01:34:28 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SL<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SL<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "R<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "R<1>" LOCATE = SITE "N16" LEVEL 1;
COMP "R<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "R<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "R<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "R<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "R<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "R<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "E" LOCATE = SITE "M13" LEVEL 1;
COMP "PA<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "PA<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "PA<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "PA<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "Cin" LOCATE = SITE "M14" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "PB<2>" LOCATE = SITE "K14" LEVEL 1;
COMP "PB<3>" LOCATE = SITE "K13" LEVEL 1;
SCHEMATIC END;
